{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    {% if request.user.is_authenticated %}
        <h1>Welcome {{ user.username }} </h1>
        {% if latest_question_list %}
            <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>    
            {% endfor %}
            </ul>
        {% else %}
        <div class="container">
            <p>No polls are available.</p>
        </div>
        {% endif %}
    {% else %}
    <div class="grid gap-3">
        <div class="p-2 g-col-6 border border-primary column-gap-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et nulla ut tellus dictum mollis. Vestibulum eu est eget dolor lacinia ullamcorper. Proin vel volutpat ligula, nec mattis arcu. Proin quam diam, iaculis quis arcu at, elementum scelerisque velit. Nulla convallis facilisis elit in euismod. Morbi sodales nunc vel neque aliquam, eget aliquet ipsum cursus. Pellentesque in ligula at dolor faucibus sollicitudin. Quisque a metus nunc. Etiam vel pretium arcu. In a nisi dui. Mauris porta purus diam, ac tempus est rutrum ac. Vestibulum a congue justo. Nullam ac pellentesque magna. Aenean viverra neque id porta consequat. Duis risus ex, convallis nec ex sed, pellentesque varius nunc. Maecenas et egestas quam.
            Quisque molestie cursus massa sed hendrerit. Etiam eget metus at arcu mollis elementum. Nullam ac interdum nunc, eu ullamcorper neque. Ut aliquet sem quis metus posuere efficitur. Proin aliquam ullamcorper venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum vitae eros vitae ullamcorper. Duis interdum libero neque, vel hendrerit mauris euismod eget. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris mattis tempor metus hendrerit cursus. Praesent quis placerat ligula, nec elementum arcu. Nam viverra fringilla orci, ac interdum sapien posuere sit amet. Etiam elementum accumsan quam, id venenatis quam lacinia sed. Nulla facilisi. Praesent ligula dolor, viverra nec lobortis quis, imperdiet in ante.
        </div>
        <div class='p-2 g-col-6 border border-secondary'>
            Sed at tempus nisl. Donec lobortis dolor sit amet purus luctus elementum. Fusce gravida varius justo ac dignissim. Proin bibendum orci eu pellentesque vulputate. Pellentesque aliquam luctus ultrices. Donec at nunc nunc. Integer sed felis arcu. Proin non feugiat arcu. Phasellus dapibus, urna ut ultricies consequat, metus urna finibus nunc, et finibus nulla orci id ante. Nam fringilla fermentum rutrum. Donec eleifend rutrum massa in aliquet. Nulla sed mi libero. Suspendisse potenti. Duis interdum et felis non lacinia.
        </div>
        <div class='p-2 g-col-6 border border-dark'>                
            Aliquam maximus nibh eros, ac semper magna faucibus in. Vivamus vel rhoncus nibh. Ut quam mauris, malesuada a diam non, tristique suscipit lorem. Nunc a tempus dolor, vel rhoncus ante. Sed tempus interdum tincidunt. Nam convallis magna enim, porttitor pharetra diam tristique commodo. In ut tincidunt lectus. Integer consequat ut leo quis pharetra. Maecenas ultrices accumsan urna id tempus. In eget tellus quis tellus elementum pulvinar. Phasellus gravida iaculis erat, in laoreet nisi finibus sed. Praesent odio ex, ullamcorper nec condimentum sit amet, consectetur et lectus. Donec id sodales ex. Praesent tristique quam vitae eros cursus, aliquet ultricies mauris gravida.
            Maecenas condimentum velit cursus nibh rhoncus faucibus. Praesent id blandit ligula. Proin hendrerit ante quis dolor gravida, a tempor orci consectetur. Sed luctus turpis vel risus euismod, vel interdum nibh mollis. Aenean ut neque euismod, iaculis nisi a, aliquam velit. Praesent semper ante odio, facilisis ultrices odio aliquet quis. Integer gravida felis eu metus pharetra, id suscipit mi dictum. Fusce ante metus, dapibus at scelerisque vel, convallis vel diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam at arcu id metus venenatis hendrerit. Suspendisse blandit lectus sed tortor dignissim, ut semper massa porta. Proin hendrerit fringilla elit, nec vulputate nulla mattis non. Duis interdum varius neque, eget ullamcorper nunc.
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}